* {
    margin: 0px;
    font-family: sans-serif;
    --Slate50: #f8fafc;
    --Slate100: #f1f5f9;
    --Slate200: #e2e8f0;
    --Slate300: #cbd5e1;
    --Slate400: #94a3b8;
    --Slate500: #64748b;
    --Slate600: #475569;
    --Slate700: #334155;
    --Slate800: #1e293b;
    --Slate900: #0f172a;
    --Slate950: #020617;
    --Amber400: #ffbf24;

}


.bigContainer {
    background-color: var(--Slate200);
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 100vh;
    max-height: 100vh;
    padding: 0px;
}

.leftSidebarContainer {
    background-color: var(--Slate500);
    display: flex;
    flex-direction: column;

}

.leftLogoContainer,
.leftSmallContainer {
    margin: 20px;
}


.logoCard,
.sidebarCard {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
    color: var(--Slate50);
    font-size: 24px;
    font-weight: bold;
    align-items: center;

}

.sidebarCard:hover {
    /* color: var(--Amber400); */
    transition: all 0.2s ease-in-out;
    filter: brightness(90%);
}

.rightContainer {
    display: grid;
    grid-template-rows: minmax(1fr 230px) minmax(5fr);

}

.rightTopContainer,
.rightSmallBottomContainer {
    display: grid;
}

.rightTopContainer {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    grid-template-rows: 1.5fr 3fr;
    background-color: var(--Slate50);
    padding: 15px;
    gap: 15px;
    max-height: 200px;

}



.topSubContainer1,
.topSubContainer3 {
    margin-left: 10px;
    max-height: fit-content;
}

.topSubContainer2,
.topSubContainer4 {
    margin-right: 10px;
    max-height: fit-content;
}

.topSubContainer1 {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.magGlassContainer {
    margin-top: 5px;
}

.searchbar {
    width: 100%;
    margin-left: 10px;
}

#searchbar {
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--Slate300);
    border-radius: 10px;
    border: 2px solid black;
    width: 100%;
    height: 32px;
    font-size: 24px;
    text-align: middle;
}

#searchbar:hover {
    filter: brightness(95%);
}

input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    content: url(img/icons/cancel.svg);
    cursor: pointer;
    height: 25px;
}


.topSubContainer2 {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    padding-left: 20px;
}

.avatarSmall {
    max-width: 60%;
    vertical-align: middle;
    width: 50px;
    height: 100fr;
    border-radius: 50%;
}

.topSubContainer3 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
}


.avatar {
    max-width: 100%;
    vertical-align: middle;
    width: 95px;
    height: 100fr;
    border-radius: 50%;
}

.nameCard {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding-left: 10px;

}

.nameCard>#greetings {
    font-size: 24px;
    padding-bottom: 0px;
    height: 22px;

}

.nameCard>#username {
    font-size: 32px;
    font-weight: Bold;
}


.topSubContainer4 {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    margin-bottom: 5px;
}

.topSubContainer4>button {
    border: none;
    background-color: var(--Amber400);
    border-radius: 15px;
    height: 35%;
    max-height: 38px;
    width: 25%;
    min-width: fit-content;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    color: var(--Slate950);
}


.topSubContainer4>button:hover {
    filter: brightness(95%);
    transition: all 0.2s ease-in-out;
}

.rightSmallBottomContainer {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    background-color: var(--Slate200);

}

.yourProjectsContainer>.title {
    font-weight: bold;
    font-size: 24px;
}

.yourProjectsContainer,
.rightSmallSidebarContainer {

    padding: 15px;
    margin-bottom: 40px;
}

.yourProjectsContainer {
    display: grid;
    grid-template-rows: minmax(24px, 32px) 70vh;

}


.iconContainer>i {
    color: var(--Slate600);
}

.iconContainer>i:hover {
    color: var(--Slate950);
}





.projectCardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;

}

.projectCard {
    background-color: var(--Slate50);
    border-radius: 5px;
    border-left: 10px solid var(--Amber400);
    box-shadow: 8px 8px 10px -4px var(--Slate300);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(18px, 72px) 2fr minmax(1fr, 32px);
    padding: 20px;
}

.projectCard:hover {
    box-shadow: 8px 8px 10px -4px var(--Slate400);
    transition: all 0.3s ease-in-out;
}



.projectCard>.title {
    grid-area: 1 / 1 / 1 / 3;
    font-weight: bold;
    align-self: center;
}

.projectCard>.content {
    grid-area: 2 / 1 / 2 / 3;
}

.projectCard>.iconContainer {
    grid-area: 3 / 2 / 3 / 2;
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 20px;

}

.rightSmallSidebarContainer {
    display: grid;
    grid-template-rows: 50% 45%;
    max-height: 75vh;
    gap: 5px;
}

.announcementContainer,
.trendingContainer {
    display: grid;
    grid-template-rows: 32px auto;
}

.announcementCardContainer,
.trendingCardContainer {
    display: grid;
    grid-auto-rows: 1fr;
    background-color: var(--Slate50);
    border-radius: 5px;
    box-shadow: 8px 8px 10px -4px var(--Slate300);
}

.announcementCard,
.trendingCard {
    margin: 10px;
    padding-left: 10px;
}

.rightSmallSidebarContainer>div>.title {
    font-size: 24px;
    font-weight: bold;

}


.announcementCardContainer>div:not(:last-child) {
    border-bottom: 1px solid var(--Slate500)
}

.announcementCard>.title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
}

.announcementCardContainer:hover {
    box-shadow: 8px 8px 10px -4px var(--Slate400);
    transition: all 0.4s ease-in-out;
}

.announcementCard:hover {
    padding-left: 5px;
    transition: all 0.4s ease-in-out;
}

.trendingCard {
    display: grid;
    grid-template-columns: minmax(10%, 60px) 3fr;
    grid-template-rows: 1fr 2fr;
    gap: 5px;
   
}

.trendingCard>.avatarContainer {
    align-self: center;
    grid-area: 1/1/3/2;
    max-height: 100%;
    display: flex;

}

.avatarContainer>img {
    max-width: 100%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

}

.trendingCard>.title {
    grid-area: 1/2/2/3;
    font-weight: bold;
    align-self: end;
    padding-left: 10px;

} 

.trendingCard>.content {
    grid-area: 2/2/3/3;
    padding-left: 10px;

}


.trendingCardContainer:hover {
    box-shadow: 8px 8px 10px -4px var(--Slate400);
    transition: all 0.4s ease-in-out;

}

.trendingCard:hover {
    padding-left: 5px;
    transition: all 0.4s ease-in-out;

}